<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.EntrantsProfilePage">
        <activity android:name=".activities.PeopleActivity" />
        <activity
            android:name=".activities.NotificationsActivity"
            android:exported="false" />

<!--        The Sign-in page should remain the first point of entry in our Application! -->
        <activity android:name=".activities.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".EntrantMainActivity" />
        <activity android:name=".OrganizerMainActivity" />
        <activity android:name=".AdminMainActivity" />

        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".activities.OrganizerEventDetailsActivity" />

        <activity android:name=".activities.EntrantEventDetailsActivity"/>
        <activity android:name=".activities.AdminBrowseProfilesActivity" />

    </application>

</manifest>